:root {
    /* ==== COLORS ==== */
    --c-white: #ffffff;
    --c-blue: #14213D;
    --c-yello: #FFB703;
    --sh-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

html {
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--c-white);
    background: var(--c-white);
}

a,
button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    text-decoration: none;
}

.container {
    max-width: 83rem;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 2rem;
}

.logo_link {
    font-family: inherit;
    font-size: 1.75rem;
    font-weight: 700;
    line-height: inherit;
    color: var(--c-yello);
    text-transform: uppercase;
}

.navbar {
    max-width: 100%;
    padding: 0.75rem 0;
    color: var(--c-white);
    background: var(--c-blue);
    box-shadow: var(--sh-large);
    margin-bottom: 4rem;
}

.navbar .flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


/* BURGER */

.navbar .burger {
    position: relative;
    cursor: pointer;
    width: 2rem;
    height: 1rem;
    opacity: 0;
    visibility: hidden;
    display: none;
    transition: 0.35s ease-in-out;
}

.navbar .burger_line {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    opacity: 1;
    border-radius: 0.25rem;
    background: var(--c-white);
    transition: 0.25s ease-in-out;
}

.navbar .burger_line:nth-child(1) {
    top: 0;
}

.navbar .burger_line:nth-child(2),
.navbar .burger_line:nth-child(3) {
    top: 0.5rem;
}

.navbar .burger_line:nth-child(4) {
    top: 1rem;
}

.navbar .burger.active .burger_line:nth-child(1),
.navbar .burger.active .burger_line:nth-child(4) {
    top: 1.25rem;
    width: 0%;
    left: 50%;
}

.navbar .burger.active .burger_line:nth-child(2) {
    transform: rotate(45deg);
}

.navbar .burger.active .burger_line:nth-child(3) {
    transform: rotate(-45deg);
}

.navbar .menu_inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem
}

.navbar .menu_link {
    font-size: 1rem;
    font-weight: 600;
    line-height: inherit;
    border: none;
    color: var(--c-white);
    text-transform: uppercase;
}

.navbar .menu_link.active,
.navbar .menu_link:hover {
    color: var(--c-yello);
}


/* NAVBAR 3 */

.search form {
    position: relative;
}

.search input {
    height: 47px;
    width: 200px;
    outline: none;
    padding: 5px;
    font-size: 1rem;
    transition: 0.3s all ease-in-out;
}

.search input:focus {
    width: 260px;
}

.search .icon {
    font-size: 1.5rem;
    color: var(--c-yello);
    background-color: none;
    border: none;
    position: absolute;
    top: 4px;
    right: 10px;
    cursor: pointer;
}

.search_mobile {
    display: none;
}

@media only screen and (max-width: 770px) {
    .navbar .burger {
        display: block;
        opacity: 1;
        visibility: visible;
    }
    .navbar .menu {
        width: 100%;
        max-height: 0rem;
        padding: 0;
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        transition: all 0.35s ease;
    }
    .navbar .menu.active {
        opacity: 1;
        visibility: visible;
    }
    .navbar .menu_inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.75rem;
        padding: 1rem 0;
    }
    .search_mobile {
        display: block;
    }
    .search_desktop {
        display: none;
    }
}